<!--<p>dashboard</p>
<button ng-click="disconnect()">deconnecter</button>-->
<div class="wrapper">
    <div class="sidebar" data-color="red" data-image="http://localhost/jarvis/CLIENT_jarvis/assets/img/sidebar-4.jpg">
        <!-- you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple" -->
        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="#/dashboard" class="simple-text">
                    Welcome
                </a>
            </div>
            <ul class="nav">
                <li class="active">
                    <a href="#/dashboard">
                        <i class="pe-7s-graph"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#/dashboard">Dashboard</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#">
                                Log out
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <form>
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Creer Projets</label>
                                    <input type="text" ng-model="projets" class="form-control"
                                           placeholder="Create Projets">
                                </div>
                                <button type="submit" class="btn btn-info btn-fill pull-right"
                                        ng-click="CreateProjets(projets)">Create Projets
                                </button>

                            </div>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div ng-if="message" class="alert alert-danger">
                            <strong>{{message}}</strong>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <h2>Project Personnel</h2>
                    <div class="col-md-2" ng-repeat="personnelProject in personnelProjects">
                        <a href="#/projects/{{personnelProject.id}}/{{personnelProject.name}}" class="projects-link">
                            <div class="panel panel-default project-link-height">
                                <p style="padding: 10px">{{personnelProject.name}}</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <h2>Project Partagé</h2>
                    <div class="col-md-2" ng-repeat="projectsPartage in projectsPartages">
                        <a href="#/share/{{projectsPartage.projects_by_projects.id}}/{{projectsPartage.projects_by_projects.name}}" class="projects-link">
                            <div class="panel panel-default project-link-height">
                                <p style="padding: 10px">{{projectsPartage.projects_by_projects.name}}</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>