<!--<p>dashboard</p>
<button ng-click="disconnect()">deconnecter</button>-->
<div class="wrapper">
    <div class="sidebar" data-color="red" data-image="http://localhost/jarvis/CLIENT_jarvis/assets/img/sidebar-4.jpg">
        <!-- you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple" -->
        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="#/dashboard" class="simple-text">
                    Welcome Ricardo
                </a>
            </div>
            <ul class="nav">
                <li class="active">
                    <a href="#/dashboard">
                        <i class="pe-7s-graph"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#/dashboard">Dashboard</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#">
                                Log out
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-4">
                            <div class="form-group">

                                <input type="text" ng-model="nameCategorie" class="form-control"
                                       placeholder="Create Categorie">
                            </div>
                        </div>
                        <div class="col-md-2" style="margin-left: 35px">
                            <button type="submit" class="btn btn-info btn-fill pull-right"
                                    ng-click="createCategories(nameCategorie)">Create Categorie
                            </button>
                            </div>


                    </div>

                    <div class="col-md-3">
                            <div class="form-group">
                                <form class="search-wrapper cf">
                                    <input type="text" placeholder="Add user in project" required=""  ng-change="myFunc(myValue)" ng-model="myValue">
                                    <button type="submit"> <span class="fontawesome-search"></span>
                                    </button>
                                </form>
                            </div>
                        <div style="position:absolute;top: 44px;left: 14px;z-index:2; width:242px">
                            <ul style="list-style-type: none ;background-color: whitesmoke; margin: 10px;padding: 0;" ng-if="searchUser">
                                <li ng-repeat="n in searchUser track by $index"><img ng-src="{{n.picture}}" width = "30" height = "30" style="margin-right: 10px" alt="img"/>{{n.username}}<button style="float:right;margin-right: 8px" ng-click="addUserInProject(n.id,n.picture,n.username)">Add</button></li>
                            </ul>
                        </div>
                </div>
                    <div class="col-md-3" ng-if="members_project">
                            <ul>
                                <li style="list-style-type: none;" ng-repeat="member in members_project">
                                    <img ng-src="{{member.picture}}" alt="{{member.username}}" width="40" height="40"/> {{member.username}}
                                </li>
                            </ul>
                    </div>
                    <div class="col-md-3" ng-if="members_project == ''">
                        <ul>
                            <li style="list-style-type: none;">
                                Aucun membre dans ce projet
                            </li>
                        </ul>
                    </div>
                <div class="simpleDemo row" style="padding-top: 15px;">
                    <div class="col-md-12">
                        <div class="row">
                            <div ng-repeat="(listName, list) in models.lists" class="col-md-3">
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">List {{listName}}</h3>
                                    </div>
                                    <div class="panel-body">
                                        <ul dnd-list="list[0]" dnd-inserted="dropCallback2(listName,list,index)">
                                            <li ng-repeat="item in list[0]"
                                                dnd-draggable="item"
                                                dnd-moved="list[0].splice($index, 1)"
                                                dnd-inserted="dropCallback(item)"
                                                dnd-effect-allowed="move">
                                                <div class="row">
                                                    <div class="col-md-8" data-target="#openModel{{item.id}}"
                                                         data-toggle="modal" style="cursor: pointer">
                                                        <span ng-show="!showmodifytasks">{{item.label}}</span>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <a class="pull-right" data-toggle="modal"
                                                           data-target="#myModal{{item.id}}"><span><i
                                                                class="fa fa-plus-square-o" aria-hidden="true"></i></span></a>
                                                    </div>
                                                </div>

                                                <!-- modify tasks name -->
                                                <div id="myModal{{item.id}}" class="modal fade" role="dialog">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close"
                                                                        data-dismiss="modal">&times;</button>
                                                                <h4 class="modal-title">Modal Header</h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="form-group">
                                                                            <label>City</label>
                                                                            <input type="text" class="form-control" ng-model="item.label">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-default"
                                                                        data-dismiss="modal">
                                                                    Close
                                                                </button>
                                                                <button type="button" data-dismiss="modal"
                                                                        class="btn btn-primary"
                                                                        ng-click="modifyTasksName(item.id,item.label)">
                                                                    Save changes
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- end -->

                                                <div id="openModel{{item.id}}" class="modal fade" role="dialog" data-modal="{{item.id}}">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close"
                                                                        data-dismiss="modal">&times;</button>
                                                                <h4 class="modal-title">{{item.label}}</h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="row">
                                                                    <div class="col-md-8">
                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                <div class="form-group">
                                                                                    <label>About Me</label>
                                                                                    <textarea rows="1" class="form-control"
                                                                                              ng-model="nameSubTasks"
                                                                                              placeholder="Here can be your description"></textarea>
                                                                                    <br>
                                                                                    <button type="button" class="btn btn-success" ng-click="addTache(item.id,nameSubTasks,listName)">
                                                                                        Ajouter sous tache
                                                                                    </button>
                                                                                </div>
                                                                            </div>
                                                                            <div ng-if="item.sous_tache[0] == ''" style="margin-left: 30px">
                                                                                Aucune sous tâche pour le moment.
                                                                            </div>
                                                                            <div ng-if="item.sous_tache[0] != ''">
                                                                            <div class="col-md-12">
                                                                                <p class="count_checked_{{item.id}}" style="float:left">{{ item.count_checked[0] }}</p><span style="float:left;margin-right:5px">%</span>
                                                                                <div class="progress">
                                                                                    <div id="progressbar{{item.id}}" class="progress-bar" role="progressbar" aria-valuenow="0"
                                                                                         aria-valuemin="0" aria-valuemax="100">
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-12">
                                                                                <div class="form-group">

                                                                                    <p></p>
                                                                                    <div class="checkbox" ng-repeat="c1 in item.sous_tache[0] track by $index">
                                                                                        <label style="font-size: 1.5em" ng-if="c1.checked == true">
                                                                                            <!-- ng-change="alert(c1.id)"-->
                                                                                            <input type="hidden" ng-model="c1.id">
                                                                                            <input type="checkbox" data-id="{{c1.val}}" ng-click="checkedSubTasks(c1.checked,c1.id,listName,item.id)" class="className" value="{{c1.id}}" checked>
                                                                                            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                                                                            {{c1.description}}
                                                                                        </label>
                                                                                        <label style="font-size: 1.5em" ng-if="c1.checked == false">
                                                                                            <input type="hidden" ng-model="c1.id">
                                                                                            <input type="checkbox" data-id="{{c1.val}}" ng-click="checkedSubTasks(c1.checked,c1.id,listName,item.id)" value="{{c1.id}}">
                                                                                            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                                                                            {{c1.description}}
                                                                                        </label>

                                                                                    </div>


                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                            <div class="col-md-3" ng-if="members_project">
                                                                                <ul>
                                                                                    <li style="list-style-type: none;" ng-repeat="member in members_project">
                                                                                        <img ng-src="{{member.picture}}" alt="{{member.username}}" width="40" height="40"/> {{member.username}} <button ng-click="addInSubTask(member.id,item.id)">add</button>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                <h4>Membre(s)</h4>
                                                                                <div ng-if="item.users_in_tasks[0] == ''">
                                                                                    aucun membre
                                                                                </div>
                                                                                <div ng-repeat="n in item.users_in_tasks[0]">
                                                                                    <img ng-src="{{n.picture}}" alt="{{n.username}}" width="30" height="30" style="margin-right:10px">{{n.username}}
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-default"
                                                                        data-dismiss="modal">
                                                                    Close
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>



                                            </li>
                                        </ul>
                                        <a ng-click="showKids(list[1][0])" ng-if="tasksShow == false">Creer une
                                            tâche</a>
                                        <div ng-show="isShowing(list[1][0])" ng-if="tasksShow == true">
                                            <div class="form-group">
                                                <label>Creer une tache</label>
                                                <input type="text" ng-model="nameTasks" class="form-control"
                                                       placeholder="Créer une tâche">
                                            </div>
                                            <button type="submit" class="btn btn-info btn-fill pull-left"
                                                    ng-click="CreateTasks(list[1],nameTasks)">Creer tache
                                            </button>
                                            <button type="button" class="btn btn-danger btn-fill"
                                                    ng-click="changeTasks()">
                                                <span class="glyphicon glyphicon-remove"></span> Cancel
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>